
/* Invis trap code. */
.trap-invis {
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
    color: #ffffff00;
    -webkit-text-fill-color: #ffffff00;
}

/* Print all the traps if the student tries to download as PDF */
@media print {
  .trap-invis {
    font-size: initial;
    line-height: initial;
    letter-spacing: normal;
    color: initial;
    -webkit-text-fill-color: initial;
  }
  /* Hide the copy hotswap trap. */
  .trap-hotswap {
    display: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Show the print-only hotswap trap. */
  .trap-hotswap_printonly::after {
    content: attr(data-replacement);
  }
  .trap-invis::before, .trap-hotswap::before {
    content: "";
  }
}
